/* 동일한 조건 노출을 위한 Reset */

    @import url("./normalize.css");

    a:link, 
    a:visited {
        color: #000;
        text-decoration: none;
    }

    a:active, 
    a:hover {
        color: #000;
        text-decoration: none;
    }

/* Font 추가 */
    /* 기본 베이스는 나눔바른고딕을 Base로 한다 */
    @import url(https://cdn.rawgit.com/openhiun/hangul/14c0f6faa2941116bb53001d6a7dcd5e82300c3f/nanumbarungothic.css);

    body {
        font-family: 'Nanum Barun Gothic', sans-serif;
    }

/* Color */
    @import url("./color.css");

/* Layout */
    .borderBox {
        box-sizing: border-box;
    }

    /** container **/
        html,
        body {
            height: 100%;
        }

        .container {
            max-width: 600px;
            width: 100%;
            height: 100%;
            margin: 0px auto;
            padding: 0px;
            overflow: auto;
        }

        .container_hidden {
            overflow: hidden;
        }

        .container_scroll {
            overflow: scroll;
        }

        div.header {
            height: calc(100% - 56px);
        }

        div.footer {
            height: calc(100% - 60px);
        }

        div.header_footer {
            height: calc(100% - 56px - 60px);
        }

    /** Flexbox **/
        .flex {
            display: -webkit-box !important;
            display: -webkit-flex !important;
            display: -ms-flexbox !important;
            display: flex !important;
        }

        .inline_flex {
            display: -webkit-inline-box !important;
            display: -webkit-inline-flex !important;
            display: -ms-inline-flexbox !important;
            display: inline-flex !important;
        }

        /** Flex Row **/
        .flex_row {
            flex-direction: row;
        }

        /** Flex Column **/
        .flex_column {
            flex-direction: column;
        }

        /** Flex 좌우 정렬 **/
        .justify_content_start {
            justify-content: flex-start;
        }

        .justify_content_end {
            justify-content: flex-end;
        }

        .justify_content_center {
            justify-content: center;
        }

        .justify_content_between {
            justify-content: space-between;
        }

        .justify_content_around {
            justify-content: space-around;
        }

        /* flex 상하 정렬 */
        .align_items_start {
            align-items: flex-start;
        }

        .align_items_end {
            align-items: flex-end;
        }

        .align_items_center {
            align-items: center;
        }

        .align_items_baseline {
            align-items: baseline;
        }

        .align_items_stretch {
            align-items: stretch;
        }
    
    /* Text Align */
        .text_left {
            text-align: left;
        }

        .text_right {
            text-align: right;
        }

        .text_center {
            text-align: center;
        }

        .text_justify {
            text-align: justify;
        }

/* Header */
    header.header {
        max-width: 600px;
        margin: 0px auto;
        height: 56px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        box-sizing: border-box;
        align-items: center;
        align-self: stretch;
        z-index: 3;

    }

    header.shadow {
        transition-duration: .2s;
        transition-timing-function: cubic-bezier(.4,0,.2,1);
        transition-property: max-height,box-shadow;
    }
    
    .input_shadow {
        box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12);
    }


/* Footer */
    footer.footer {
        max-width: 600px;
        margin: 0px auto;
        height: 60px;
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        box-sizing: border-box;
        align-items: center;
        align-self: stretch;
        z-index: 3;
    }

    footer div.col_2 {
        width: 50%;
        height: calc(100% - 10px);
        box-sizing: border-box;
        padding: 5px;
    }

    footer div.col_3 {
        width: 33.3333333%;
        height: calc(100% - 10px);
        box-sizing: border-box;
        padding: 5px;
    }

    footer div.col_4 {
        width: 25%;
        height: calc(100% - 10px);
        height: calc(100% - 10px);
        box-sizing: border-box;
        margin: 5px;
    }

    footer div.col_5 {
        width: 20%;
        height: calc(100% - 10px);
        box-sizing: border-box;
        padding: 5px;
    }

